<!DOCTYPE html>
<html>
  <head>
    <title>MentalCheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p><%= current_user.name %></p>
    <% else %>
      <p>サービスをご利用になる場合はログインまたは、ユーザー登録をしてください</p>
    <% end %>
    <%= yield %>
  </body>
</html>
